*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.portfolio-container{
    display: flex;
}
.navlist{
    width: 100%;
    height: 15vh;
    position: absolute;
    padding-right: 70px;
    height: 15vh;
    display: flex;
    justify-content: right;
    gap: 2.4rem;
    align-items: center;  
    color: #fff;
}
.navlist .portfolio{
    display: flex;
    position: absolute;
    padding-right: 81.8%;
    color: #8b38ff;
}
.navlist li{
    list-style: none;
    padding-right: 3rem ;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;
}
.left-container, .right-container{
    height: 100vh;
    display: flex;
    align-items: center;
}
.left-container{
    background: #262525;
    width: 70%;
    padding-left: 3rem;

}
.right-container{
    background: linear-gradient(-95deg, #8b38ff, #262525 75%);
    width: 30%;
}
.icon{
    display: flex;
    gap: 1.5rem;    
    flex-direction: column;
    font-size: 3.2rem;
    justify-content: center;
    align-items: center;
    
}
.contain{
    padding-left: 45px;
}
.contain h1 span{
    font-size: 2.5rem;
    color: #eed85d;
}
.contain h1{
    color: #fff;
}
.contain h2{
    font-size: 3.5rem;
    color: #854afc;
}
.contain p{
    color: #fff;
    margin: 1.1rem 0 2.5rem;
    padding-right: 32.5%;
}
.button button{
    border: .1rem solid #eed85d;
    padding: 0.8rem 1.5rem;
    border-radius: .5rem;
}
button:nth-child(1){
    background: #854afc;
    font-weight: bold;
    margin-right: 2rem;
    color: black;
}
button:nth-child(2){
    background: transparent;
    color: #eed85d;
    font-weight: bold;
}
button:nth-child(1):hover{
    background: transparent ;
    color: #eed85d;
}
button:nth-child(2):hover{
    background: #854afc;
    color: black;
}
.icon :hover{
    transform: scale(1.2);
}
.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg,transparent 50%, #262525 50%);
    width: 38rem;
}
.circle:nth-child(2){
    background-image:url(profilphoto.png) ;
    width: 30rem;
    background-size: 105%;
    background-repeat: no-repeat;
    border: .2rem solid #fff;
    background-color: #2f2e2eda;
    background-position-x: center;
    background-position-y: center;
    box-shadow: 0 0 1rem #fff, inset 0 0 0.3rem #fff, 0 0 2rem #eed85d, inset 0 0 0.3rem #eed85d;

}
.navlist li a::after{
    content: "";
    position: absolute;
    background: #eed85d;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}
.navlist li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom right;
}
.navlist li a .active:hover::after{
    transform: scaleX(1);
    transform-origin: bottom right;
}
.section1{
    background: linear-gradient(#262525, #8b38ff);
    width: 100%;
    height: 52.5rem;
    position: absolute;
}
.project-section{
    display: flex;
}
.project{
    color: #854afcc8;
    position: absolute;
    margin: 2rem;
}
.experience, .skills, .resume{
    background: linear-gradient(-45deg,#854afc, #262525);
    border: 2px solid black;
    border-radius: 50px;
}
.skills{
    padding-left: 2.5rem;
    margin: 8.5rem;
    width: 100vh;
    height: 40rem;
}
.resume{
    padding-left: 2.5rem;
    margin-top: 12.5%;
    margin-left: 46.5%;
    position: absolute;
    width: 70vh;
    height: 35rem;
}
.skills h1{
    position: relative;
    color: #eed85dc1;
    text-transform: uppercase;
    margin-top: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.skills p{
    color: #ffffff77;
    font-size: 1.1rem;
    padding-right: 45%;
    padding-top: 1.2rem;
}
.skills button{
    background: transparent;
    margin-top: 2rem;
    font-size: 1.5rem;
    padding: 0.08rem;
    border-radius: .5rem;
}
.skills .graphic{
    margin-left: 1.4rem;
}
.skills .web:hover{
    background:  linear-gradient(#854afc87, #262525);
    transform: scale(1.07);
}
.skills .graphic:hover{
    background:  linear-gradient(#854afc87, #262525);
    transform: scale(1.07);
}

.skills button a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    display: flex;     
    
}
.resume h1{
    position: relative;
    color: #eed85d9b;
    text-transform: uppercase;
    margin-top: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
    
}
.resume p{
    color: #ffffff77;
    font-size: 1.2rem;
    padding-top: 1.2rem;
}
.resume button{
    background: transparent;
    margin-top: 4rem;
    margin-left: 7.5rem;
    font-size: 1.7rem;
    padding: 0.08rem;
    border-radius: .9rem;
    text-transform: capitalize;
}
.resume button a{
    display: flex;
    position: absolute;
    gap: 2rem;
}
.resume button:hover{
    color: black;
    background:  linear-gradient(#854afc87, #262525);
    transform: scale(1.07);
}
